<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<div class="Codetank-20170108 Codetank__source">
				<button id="action-20170210">START</button>
				<div class="case-transform moving-box-lo">
					<div class="moving-box-lo__mod"></div>
				</div>
			</div>

			<p>あなたは目標を達成する！</p>
			<p>あなたは無限の潜在能力を使っている！</p>
			<p>あなたは毎日どんどん豊かになっている！</p>	

			<%= link_to 'affirmation', user_path(current_user) %>
		</div>
	</div>
</div>
